<head>
    <link rel="stylesheet" th:href="@{/css/style-footer.css}">
</head>

<body>
    <!-- Início do Rodapé -->
    <footer class="rodape" th:fragment="rodape">
        <div class="container-rodape" >
            <div class="rede-socais">
                <a href="#"><i class="fab fa-github"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
            <div class="direitos">
                <div id="direito-criado">
                    © 2025 | Criado pela <span>SQUAD - 12</span> | Todos os direitos reservados
                </div>
                <div id="termos-privacidade">
                    <a href="#">Privacidade e Política</a><br />
                    <a href="#">Termos</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- Fim do Rodapé -->

    <script th:src="@{/js/script.js}"></script>
</body>

</html>
