<main class="corpo" th:fragment="conteudoSobre">
  <section class="sobre text-center p-4 shadow rounded">
    <div class="sobre-objetivo mx-auto">
      <h2>Sobre Nós</h2>
      <div class="divider mx-auto"></div>
      <p>
        Nosso objetivo é criar um espaço acolhedor para compartilhar informações
        e experiências sobre as dificuldades da gravidez, desafios e dicas da
        maternidade. Queremos oferecer apoio para que você se sinta ouvida e
        encorajada a enfrentar os altos e baixos dessa fase tão especial. Além
        disso, disponibilizamos conteúdos sobre cuidados com a saúde durante a
        gestação e orientações práticas para o dia a dia com o bebê.
      </p>
    </div>
  </section>

  <section class="sobre text-center p-4 shadow rounded">
    <div class="equipe-objetivo mx-auto">
      <h2>Nossa Equipe</h2>
      <div class="divider mx-auto"></div>
      <p>
        Somos um grupo de profissionais apaixonados por cuidar de mães e bebês.
        Nossa equipe multidisciplinar reúne psicólogas, nutricionistas, doulas e
        outras especialistas com vasta experiência em saúde da mulher e
        desenvolvimento infantil.
      </p>
      <p>
        Entendemos os desafios únicos que essa jornada traz. Nossa missão é
        oferecer informações precisas, suporte emocional e ferramentas práticas
        para que você possa vivenciar a maternidade com mais leveza e confiança.
        Acreditamos que cada mulher merece um acompanhamento personalizado e
        acolhedor durante essa fase tão especial.
      </p>
    </div>
  </section>

  <section class="valores text-center p-4 shadow rounded">
    <div class="valores-objetivo mx-auto">
      <h2>Nossos Valores</h2>
      <div class="divider mx-auto"></div>
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <img
              th:src="@{/img/gravidez.jpg}"
              class="card-img-top"
              alt="Empoderamento"
            />
            <div class="card-body">
              <h5 class="card-title">Empoderamento</h5>
              <p class="card-text">
                Acreditamos no potencial de cada mulher e as incentivamos a
                serem as melhores versões de si mesmas.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <img
              th:src="@{/img/maternidade.png}"
              class="card-img-top"
              alt="Empatia"
            />
            <div class="card-body">
              <h5 class="card-title">Empatia</h5>
              <p class="card-text">
                Nos colocamos no lugar das mães para entender seus desafios e
                oferecer o melhor apoio.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
